<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/relatorio.css">
        <title>Clinica Médica - Histórico</title>
    </head>
    <body>
        <header>
            <div class="container">
                <span>
                    Histórico Médico
                    <i class='bx bx-plus-medical'></i>
                </span>
                <span id="nome">
                </span>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="box consultas">
                    <div class="title">
                        Consultas
                    </div>
                    <div class="list" id="consultas">
                    </div>
                </div>
                <div class="box exames">
                    <div class="title">
                        Exames
                    </div>
                    <div class="list" id="exames">
                    </div>
                </div>
                <div class="box receitas">
                    <div class="title">
                        Receitas
                    </div>
                    <div class="list" id="receitas">
                    </div>
                </div>
            </div>
        </main>
        <script src="../js/historico.js"></script>
    </body>
</html>
